@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>忘记密码</title>
    <!-- Bootstrap core CSS-->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Web/style/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Web/style/sb-admin.css" rel="stylesheet" />
    <style>
        .yt-hide {
            display: none;
        }
    </style>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">重置你的密码</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>忘记你的密码?</h4>
                    <p>输入你的邮箱地址，我们将发送验证码来重置你的密码</p>
                </div>
                <form>
                    <div class="form-group" id="group1">
                        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
                    </div>
                    <input id="reset" type="button" class="btn btn-primary btn-block" value="验证码">
                    <div class="form-group yt-hide" id="group2">
                        <input class="form-control" id="exampleInputCode" aria-describedby="codeHelp" placeholder="Enter Code">
                    </div>
                    <input id="code" type="button" class="btn btn-primary btn-block yt-hide" value="重置密码">
                    <div class="form-group yt-hide" id="group3">
                        <input class="form-control" id="exampleInputPassword1" aria-describedby="codeHelp" placeholder="Enter password">
                    </div>
                    <div class="form-group yt-hide" id="group4">
                        <input class="form-control" id="exampleInputPassword2" aria-describedby="codeHelp" placeholder="Enter password">
                    </div>
                     <input id="enter" type="button" class="btn btn-primary btn-block yt-hide" value="确认">
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="../../web/user/register">注册一个账号</a>
                    <a class="d-block small" href="../../web/user/Login">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="~/Content/Web/script/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/Web/script/jquery.easing.min.js"></script>
    <script>
        $(function () {

            var email=null;
            $('#reset').click(function () {
                var useremail = $("#exampleInputEmail1").val();
                $.ajax({
                    type: "post",
                    url: "../../web/user/FindUserInfo",
                    dataType: "json",
                    data: JSON.stringify({ email: useremail }),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data.Status == 1) {
                            $('#reset').addClass('yt-hide');
                            $('#group1').addClass('yt-hide');
                            $('#group2').removeClass('yt-hide');
                            $('#code').removeClass('yt-hide');
                            email=useremail;                           
                        }
                        if (data.Status != 1) {
                            alert("请检查你的邮箱是否正确");
                        }
                    },
                    error: function () {
                        alert("出现未知错误");
                    }
                });
            });
            $('#code').click(function(){
                var usercode =  $('#exampleInputCode').val();
                if(usercode!=null){
                    $.ajax({
                    type: "post",
                    url: "../../web/user/ValidatePwdBackCode",
                    dataType: "json",
                    data: JSON.stringify({ code: usercode }),
                    contentType: "application/json;charset=utf-8",
                    success:function(data){
                      $('#group2').addClass('yt-hide');
                      $('#code').addClass('yt-hide');
                      $('#group3').removeClass('yt-hide');
                      $('#group4').removeClass('yt-hide');
                      $('#enter').removeClass('yt-hide');
                    }
                    });
                  }
                });

              $('#enter').click(function(){
                var password1= $('#exampleInputPassword1').val();
                var password2=$('#exampleInputPassword2').val();

                if(password1!=null&&password2!=null&&password1==password2){
                   $.ajax({
                    type: "post",
                    url: "../../web/user/GetPassword",
                    dataType: "json",
                    data: JSON.stringify({email:email,  password: password1 }),
                    contentType: "application/json;charset=utf-8",
                    success:function(data){
                      alert('修改完成');
                      $(location).attr('href','../../web/user/Index');
                    }
                    });
                }
              })
            });
    </script>
</body>

</html>
