@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>忘记密码</title>
    <!-- Bootstrap core CSS-->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Web/style/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Web/style/sb-admin.css" rel="stylesheet" />
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">重置你的密码</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>忘记你的密码?</h4>
          <p>输入你的邮箱地址，我们将发送验证码来重置你的密码</p>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
          </div>
          <input id="reset" type="button" class="btn btn-primary btn-block" value="重置密码">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="../../web/user/register">注册一个账号</a>
          <a class="d-block small" href="../../web/user/Login">登录</a>
        </div>
      </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="~/Content/Web/script/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/Web/script/jquery.easing.min.js"></script>
    <script>
        $(function(){
                var useremail = $("#exampleInputEmail1").val();                
                $.ajax({
                    type: "post",
                    url: "../../web/user/FindUserInfo",
                    dataType: "json",
                    data: JSON.stringify({ email: useremail}),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data.Status == 1) {
                           alert("重置成功")
                        }
                        if (data.Status != 1) {
                            alert("重置失败，请检查账号和密码");
                        }
                    },
                    error: function () {
                        alert("出现未知错误");
                    }
                });
        })
    </script>
</body>

</html>
