@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <!-- Bootstrap core CSS-->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Web/style/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Web/style/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">注册一个账号</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">姓</label>
                                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">名</label>
                                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">电子邮件地址</label>
                        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">密码</label>
                                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">确认密码</label>
                                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="exampleInputCode1" id="exampleinputcode" type="button" value="发送验证码">
                        <input class="form-control" id="exampleInputCode1" type="code" aria-describedby="codeHelp" placeholder="Enter code">
                    </div>
                    <input id="register" type="button" class="btn btn-primary btn-block" value="注册">
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="../../web/user/Login">登录</a>
                    <a class="d-block small" href="../../web/user/forgotpassword">忘记密码?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="~/Content/Web/script/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/Web/script/jquery.easing.min.js"></script>
    <script>
        $(function () {
            //注册的ajax
            $('#register').click(function () {
                var useremail = $("#exampleInputEmail1").val();
                var userpassword = $("#exampleInputPassword1").val();
                var username1 = $("#exampleInputName").val();
                var username2 = $("#exampleInputLastName").val();
                var usercode = $("#exampleInputCode1").val();
                var username = username1 + username2;
                if (useremail != null && userpassword != null && username1 != null && username2 != null && usercode != null && usercode != null) {
                    $.ajax({
                        type: "post",
                        url: "../../web/user/RegisterUserInfo",
                        dataType: "json",
                        data: JSON.stringify({ email: useremail, password: userpassword, name: username, code: usercode }),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data.Status == 1) {
                                $(location).attr('href', '../../web/user/Login');
                            }
                            if (data.Status != 1) {
                                alert("注册失败,请检查注册的邮箱账号和2次密码是否一致");
                            }
                        },
                        error: function () {
                            alert("出现未知错误");
                        }
                    });
                }
            });
            //发送验证码的Ajax
            var InterValObj;
            var count = 60;
            var curCount;
            $("#exampleinputcode").click(function () {
                curCount = count;
                //使button失效，开始计时
                $(this).attr('disabled', 'true');
                $(this).val("请在" + curCount + "秒内输入验证码");
                var useremail = $('#exampleInputEmail1').val();
                InterValObj = window.setInterval(SetRemainTime, 1000);
                //向后台发送数据
                $.ajax({
                    type: "post",
                    dataType: "JSON",
                    url: '../../web/user/GetCode',
                    data: JSON.stringify({ email: useremail }),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        alert(data.Msg);
                    },
                    error: function (data) {
                        alert(data.Msg);
                    }
                });
            });

            function SetRemainTime() {
                if (curCount == 0) {
                    window.clearInterval(InterValObj);
                    $('#exampleinputcodes').removeAttr("disabled");
                    $('#exampleinputcode').val("重新发送验证码");
                } else {
                    curCount--;
                    $("#exampleinputcode").val("请在" + curCount + "秒内输入验证码");
                }
            }

            $('#exampleConfirmPassword').blur(function () {
                var password1 = $(this).val();
                var password2 = $('#exampleInputPassword1').val();
                if (password1 == password2 && password1 != null && password2 != null) {
                    alert('2次密码一致');
                } else {
                    alert('2次密码不一致或者等于空');
                }
            });
        })
    </script>
</body>
</html>
