@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    
    <title>Index</title>   
    <style>
        .body{
            height:500px;
            width:960px;
        }
    </style>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
